name: Sync to Google Drive
on:
  push:
    branches:
      - main  # או master בהתאם למה שיש אצלך

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Sync to Drive
        uses: wei/rclone@v1
        env:
          RCLONE_CONFIG_DRIVE_TYPE: drive
          RCLONE_CONFIG_DRIVE_SCOPE: drive
          RCLONE_CONFIG_DRIVE_SERVICE_ACCOUNT_CREDENTIALS: ${{ secrets.GDRIVE_SERVICE_ACCOUNT }}
        with:
          args: sync ./ drive:Fintel_Source/ --drive-use-trash=false --exclude "/.git/**" --exclude "/build/**" --exclude "/.dart_tool/**" --exclude "/.idea/**"
